@model int 
@{
    ViewBag.Title = "Billing";
}

<h2>Billing</h2>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Amount Owed</th>
    </tr>
    <tr>
        <td>
            @Model
        </td>
    </tr>
</table>  


